

body h1{
     margin-left:100px;
    margin-right:100px;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
     color: #ffffff;
    
}
body{   
    background-image: url(../images/saito.jpg);
    }

h3{
     margin-left:100px;
    margin-right: 100px;
    color:#ffffff;
    font-size: 18px;
}

p{
    margin-left:100px;
    margin-right: 100px;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    

}


 h2{
     
    margin-left:100px;
    margin-right: 100px;
     font-family:'Russo One', sans-serif;
    font-size: 50px;
     color: #ffffff;
    }
 
h4{margin-left:100px;
    margin-right:100px;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
     color: #ffffff;
    
    
}





